.markdown-body {font-size: 15px;}
.markdown-body a{border-bottom:none!important;background-color:transparent;color:#0366d6!important;text-decoration:none}
.markdown-body a:hover{border-bottom:1px solid #0366d6!important}
.markdown-body a:active,.markdown-body a:hover{outline-width:0}
.markdown-body strong{font-weight:bolder}
.markdown-body{color:#24292e}
#post-content p {margin: 10px 0 10px 0;}
#post-content li>p, #post-content ul{margin:0}